.wrapper {
    padding: 20px;
    width: 320px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.body {
    margin-top: 12px;
    color: var(--text-color);
}
.user-name {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 22px;
}
.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}
.full-name {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
}
.analytics {
    font-size: 1.8rem;
    margin-top: 10px;
}
.value {
}
.value ~ .value {
    margin-left: 20px;
}
.label {
    color: rgba(22, 24, 35, 0.75);
}
